<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dotnet8-api-functionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2ceffaf4-a2ec-45de-bfb5-aff7813df7a3/resourceGroups/functionApp-RG/providers/Microsoft.Web/sites/DotNet8-API-FunctionApp</ResourceId>
    <UserName>$DotNet8-API-FunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dotnet8-api-functionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>